dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
.packcheck/*
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.dir-locals.el
.bash_history
.stack-work/*
.cache
.local
.stack
cabal.project.local
.HTF/
out/*
build/*
stack.yaml.lock
output/*
*flymake*
